{% extends "appPosteos/padre.html" %}

{% load static %}

{% block resBusqueda %}
<div class="container py-4">
    <div class="row align-items-center">

      <div class="col-lg-6">
<p>El creador del backend de la web y de el proyecto en general es Mariano Chacón. Mariano es
Lic. en Economía y actualmente se encuentra incrusionando en el mundo de la programación
tanto en lo referido a programación web como al análisis y ciencia de datos.
Este es el primer proyecto relacionado a la programación web y es el primer acercamiento
del autor a Python y a Django.
La decisión de realizar un blog de vino surge del interés de Mariano por el mundo del Vino. 
Esta es la primer etapa del proyecto. La segunda etapa tiene como objetivo crear
una app adicional donde los usuarios puedan subir sus notas de cata de distintos vinos y luego
consultar sobre los vinos con mejores puntajes y los vinos preferidos de cada usuario.</p>
      </div>
    </div>
</div>     

{% endblock %}