{% extends "appPosteos/padre.html" %}

{% load static %}

{% block posteoVer %}
                <div class="dropdown-menu text-center text-lg-start shadow-sm" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="index.html">Home</a><a class="dropdown-item" href="listing.html">Category</a><a class="dropdown-item" href="post.html">Post</a></div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="py-5">
      <div class="container text-center">
        <p class="h6 mb-0 text-uppercase text-primary">El mundo del vino</p>
        <h1>{{posteo.titulo}}</h1>
        <p class="mb-3">{{posteo.subtitulo}}</p>
        <ul class="list-inline small text-uppercase mb-0">
          <li class="list-inline-item align-middle"><img class="rounded-circle shadow-sm" src="img/person-1.jpg" alt="" width="40"/></li>
          <li class="list-inline-item me-0 text-muted align-middle">Por </li>
          <li class="list-inline-item align-middle me-0"><a class="fw-bold reset-anchor" href="#!">{{posteo.autor}}</a></li>
          <li class="list-inline-item text-muted align-middle me-0">|</li>
          <li class="list-inline-item text-muted align-middle me-0">{{posteo.fecha}}</li>
          <li class="list-inline-item text-muted align-middle me-0">|</li>
        </ul>
        {% if not posteo.imagen %}
      </div><img class="w-100 py-5" src="/static/appPosteos/img/pileta.jpg" alt="">
        {% else %}
      </div><img class="w-100 py-5" src="{{posteo.imagen.url}}" alt="">
        {% endif %}
      <div class="container">
        <div class="row gy-5">
          <div class="col-lg-8">
            {{posteo.cuerpo|safe}}
          </div>
        </div>
      </div>   
            
            
           
            
                  
          


{% endblock %}
