<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: url(/static/appPosteos/img/vino-mzajpg.jpg);text-align: center;vertical-align: bottom;">

    <div class="text-center"> 
    <h1 style="color: #4d3712"><br><br>Está ingresando al Blog del Vino</h1>
    
    <button class="btn btn-primary" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); background-color: #4d3712; border-radius: 8px;font-size: 24px;padding: 32px 16px;">
        <a style="color: #ebaa3d;" href="{% url 'list' %}" >Ingresar</a>
    </button>

    </div>



    
</body>
</html>